{% if form_theme is defined and form_theme %}
    {% form_theme registration_form form_theme %}
{% else %}
    {% form_theme registration_form '@NowoPasswordToggleBundle/Form/toggle_password_widget.html.twig' %}
{% endif %}

{{ form_start(registration_form, {attr: {class: 'nowo-auth-kit__embed-form vstack gap-2'}}) }}
    {% for field in registration_form %}
        {{ form_row(field, {row_attr: {class: 'mb-0'}}) }}
    {% endfor %}
    <button type="submit" class="btn btn-primary w-100 mt-1">{{ 'register.submit'|trans({}, 'NowoAuthKitBundle') }}</button>
{{ form_end(registration_form) }}
